.transition{
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.removeItem{
    background-color: #EE6E73;
    border: 0;
    cursor: pointer;
    @extend .transition;
    &:hover{
        background-color: #000;
        @extend .transition;
    }
}

.cartItem{
    &_details{
        width: 70%;
        &--add{
            color:green;
        }
        &--subtract{
            color: red;
        }
    }
    &_img{
        width: 30%;
    }
}


@media (max-width: 767px) {
    .cartItem{
        text-align: center;
        &_details{
            width: 100%;
        }
        &_img{
            width: 100%;
            img{
                max-width: 150px;
            }
        }
    }
}


